* {
   margin: 0;
   padding: 0;
}

body {
    background: #2d2d2d;
}

.hex-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.header {
    position: relative;
    z-index: 2;
}

.now_fon {
    position: relative;
    z-index: 1;
}


.intro {
    width: 100%;
}

.line {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hex {
    width: 100%;
    position: relative;
    height: 65px;
    background-color: #3d3d3d;
    margin: 16px 1px;   
}

.hex::before {
    content: "";
    position: absolute;
    width: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    top: 100%;
    border-top: 28px solid #3d3d3d;
}

.hex::after {
    content: "";
    position: absolute;
    width: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    bottom: 100%;
    border-bottom: 28px solid #3d3d3d;
}

.moved {
    width: 100%;
    margin-left: -50px;
}

.light {
    background-color: #3fff3c;
    animation: colorBG 1s infinite;
}

@keyframes colorBG {
    0% {
        filter: hue-rotate(0deg);
    }

    100% {
        filter: hue-rotate(270deg);
    }
}

.light::before {
    border-top: 28px solid #3fff3c;
}


.light::after {
    border-bottom: 28px solid #3fff3c;
}

.now {
    width: 25px;
    height: 25px;
    background: #3fff3c;
    border-radius: 50%;
    box-shadow: 0 0 25px rgba(63, 255, 60, 0.8);
    offset-path: path('M33.9831 1690.15C137.669 1690.15 255.388 1725.18 356.679 1688.72C404.594 1671.47 467.345 1650.58 520.882 1665.87C552.113 1674.8 580.939 1690.15 613.693 1690.15C674.324 1690.15 735.467 1694.68 795.745 1701.57C964.139 1720.82 1133.49 1715.85 1302.99 1715.85C1349.12 1715.85 1390.47 1597.9 1345.11 1578.06C1198.17 1513.78 1034.51 1490.96 869.993 1490.96C781.906 1490.96 696.458 1516.66 608.339 1516.66C507.675 1516.66 407.011 1516.66 306.347 1516.66C250.268 1516.66 195.552 1515.89 139.645 1511.67C114.698 1509.78 50.9132 1523.61 35.054 1494.53C25.7802 1477.53 33.9831 1436.46 33.9831 1416.71C33.9831 1399.18 45.088 1389.27 46.8338 1375.31C47.729 1368.14 75.67 1357.24 82.8872 1356.39C99.9889 1354.37 103.982 1352.18 115.371 1339.61C125.095 1328.88 140.137 1331.23 151.781 1323.9C217.903 1282.27 214.265 1196.31 261.726 1139C321.707 1066.57 387.182 1009.27 419.504 919.105C428.996 892.63 447.558 856.984 468.409 837.361C489.125 817.862 532.373 856.594 548.012 866.275C600.056 898.493 683.22 950.035 642.964 1020.48C620.708 1059.43 604.001 1095.98 565.86 1121.86C518.246 1154.17 474.948 1175.99 441.993 1223.6C404.244 1278.12 419.504 1359.39 419.504 1423.5C419.504 1487.51 556.981 1473.3 592.275 1481.32C649.818 1494.4 716.632 1484.54 776.112 1484.54C809.132 1484.54 837.196 1473.67 869.993 1471.33C912.002 1468.33 952.514 1465.26 994.931 1465.26C1043.71 1465.26 1092.68 1458.84 1142.36 1458.84C1187.16 1458.84 1203.26 1443.9 1243.38 1426.71C1267.83 1416.23 1284.82 1392.66 1309.42 1381.73C1318.59 1377.65 1342.99 1353.47 1346.18 1344.61C1362.4 1299.57 1327.98 1300.69 1289.78 1288.21C1269.31 1281.51 1237.83 1281.48 1215.89 1279.28C1180.92 1275.78 1147.43 1272.5 1112.02 1272.5C1031.58 1272.5 951.143 1272.5 870.707 1272.5C792.175 1272.5 713.643 1272.5 635.111 1272.5C593.108 1272.5 551.105 1272.5 509.102 1272.5C461.878 1272.5 425.594 1259.09 380.952 1248.23C319.664 1233.32 265.296 1220.8 265.296 1148.28C265.296 1107.82 270.745 1074.24 313.129 1066.53C321.607 1064.99 340.068 1056.3 348.826 1052.61C375.245 1041.49 405.013 1041.87 433.069 1037.97C519.973 1025.9 582.342 1082.61 664.382 1099.02C750.172 1116.17 823.319 1177.02 909.973 1188.97C989.531 1199.94 1065.1 1176.59 1144.86 1169.34C1170.7 1166.99 1194.38 1157.7 1219.1 1151.85C1243.22 1146.13 1267.85 1153.66 1290.5 1140.07C1307.54 1129.84 1322.96 1130.97 1338.33 1123.29C1358.8 1113.05 1344.97 1092.81 1351.89 1077.24C1400.79 967.225 1267.19 938.381 1184.12 938.381C1096.96 938.381 1011.22 941.619 925.68 957.658C827.432 976.079 720.595 975.787 620.832 969.08C523.173 962.515 426.486 951.232 328.122 951.232C260.52 951.232 196.022 973.478 130.363 976.934C107.248 978.15 86.5326 970.221 65.7529 960.87C54.5355 955.822 17.0855 956.443 9.70957 949.804C0.479784 941.498 1.85636 913.286 1.85636 902.328C1.85636 851.692 13.2617 808.799 26.1299 759.899C46.1073 683.985 27.6025 611.593 56.8288 536.44C70.9189 500.208 95.7991 467.284 111.444 430.778C118.422 414.498 141.228 372.392 162.49 393.654C190.592 421.756 179.941 463.1 201.042 492.89C229.487 533.047 233.011 589.287 245.663 635.676C254.154 666.809 244.601 704.133 256.015 733.484C265.894 758.888 262.592 777.32 281.716 797.024C300.398 816.271 323.478 836.722 349.896 845.214C445.079 875.808 537.478 859.646 634.397 870.915C741.566 883.377 854.245 874.128 962.09 874.128C1039.8 874.128 1105.91 842.001 1182.69 842.001C1196.56 842.001 1291.98 840.803 1293.35 829.15C1297.3 795.558 1319.05 763.482 1319.05 726.345C1319.05 704.044 1312.43 707.069 1290.5 707.069C1264.4 707.069 1237.14 702.611 1211.25 699.216C1176.77 694.694 1141.84 687.793 1107.02 687.793C1054.68 687.793 1007.4 669.457 955.665 668.517C831.056 666.251 706.207 668.517 581.566 668.517C513.37 668.517 436.394 678.717 369.529 667.089C302.683 655.463 242.549 625.77 176.769 614.258C135.063 606.96 33.9831 602.706 33.9831 543.579C33.9831 512.113 46.9549 495.474 59.6846 466.832C64.6393 455.684 127.25 462.537 136.789 461.477C174.86 457.247 223.685 447.563 258.514 469.331C287.377 487.37 323.658 493.387 355.251 504.67C376.826 512.375 395.28 514.308 418.077 514.308C440.139 514.308 454.452 523.666 474.834 526.802C551.47 538.592 624.122 549.133 697.937 575.706C727.397 586.312 753.588 604.263 785.393 604.263C893.005 604.263 999.934 610.688 1107.02 610.688C1130.81 610.688 1154.11 610.215 1177.7 613.901C1208.97 618.788 1262.46 622.138 1289.07 639.245C1294.94 643.019 1290.65 653.516 1296.92 655.309C1307.62 658.364 1316.52 640.259 1321.91 633.891C1333.06 620.711 1351.7 616.593 1364.03 604.263C1382.25 586.043 1402.58 573.295 1402.58 545.007C1402.58 524.227 1415.49 446.089 1384.74 443.629C1349.24 440.789 1325.57 288.588 1320.48 259.436C1314.32 224.129 1292.34 179.724 1274.08 148.42C1252.09 110.734 1232.81 67.1034 1191.97 46.685C1167.28 34.3356 1135.49 -21.9306 1113.8 12.7734C1102.21 31.3162 1079.41 47.7371 1063.47 63.1053C1036.16 89.44 984.936 121.439 984.936 164.483C984.936 218.654 973.709 251.589 943.528 295.489C898.871 360.444 843.634 421.272 757.906 430.064C685.051 437.537 608.396 430.778 535.161 430.778C491.153 430.778 458.495 413.007 415.935 406.505C379.166 400.887 334.242 392.487 302.42 372.236C275.709 355.239 144.878 336.434 149.996 295.489C153.369 268.513 155.263 243.146 156.065 215.886C156.989 184.453 188.391 195.787 211.037 189.828C265.625 175.462 324.506 180.19 380.952 180.19C404.512 180.19 428.072 180.19 451.631 180.19C493.442 180.19 532.266 198.298 573.713 199.466C649.548 201.602 724.758 193.04 800.028 193.04C840.458 193.04 871.013 176.11 909.259 165.911C980.878 146.813 1050.66 148.063 1124.87 148.063C1192.72 148.063 1283.33 122.305 1286.93 226.595C1288.49 271.875 1293.35 315.552 1293.35 361.527C1293.35 401.715 1259.86 492.221 1218.75 507.883C1166.86 527.648 1111.26 552.915 1057.04 564.283C1021.38 571.76 1005.79 590.38 963.161 583.559C874.289 569.34 808.726 509.215 725.066 486.465C671.746 471.966 609.146 458.012 560.862 430.421C529.028 412.231 494.85 390.535 464.482 370.095C430.687 347.348 422.082 306.756 393.803 280.496C349.548 239.402 300.084 210.11 252.088 173.407C217.828 147.208 184.905 101.284 141.072 91.6625C126.081 88.3716 108.847 76.2915 111.444 58.1078C115.399 30.427 286.313 33.8091 306.704 32.7634C403.127 27.8186 500.585 21.8409 597.273 26.338C654.826 29.0149 708.108 45.2571 766.474 45.2571C810.261 45.2571 854.049 45.2571 897.836 45.2571C962.045 45.2571 1082.66 38.3381 1129.86 91.6625C1170.08 137.09 1175.46 209.377 1197.69 263.719C1211.49 297.466 1227.55 327.571 1235.52 363.669C1246.01 411.145 1248.37 461.988 1267.65 507.169C1306.78 598.843 1347.21 692.946 1374.03 789.17C1384.84 827.985 1376.88 878.46 1376.88 919.105C1376.88 957.482 1379.01 996.449 1376.88 1034.76C1375.59 1058.07 1297.24 1048.6 1281.93 1047.61C1263.39 1046.42 1244.36 1035.43 1228.03 1027.62C1183.27 1006.22 1138.05 987.003 1092.38 967.653C1048.36 949 1008.76 925.691 967.088 902.685C905.981 868.949 843.83 834.355 802.884 775.606C783.037 747.129 748.181 722.228 717.57 706.355C689.533 691.817 642.495 660.439 627.972 631.392C612.135 599.719 595.719 584.987 560.505 584.987C511.381 584.987 489.136 598.851 448.776 624.967C421.263 642.769 399.184 681.265 365.246 687.436C346.751 690.798 345.902 710.622 340.972 724.917C329.694 757.623 316.003 791.082 304.205 824.51C298.557 840.514 295.41 862.446 288.142 876.984C261.639 929.99 263.949 981.825 256.015 1041.9C250.51 1083.58 242.135 1126.84 231.741 1167.55C222.298 1204.54 223.892 1251.17 210.323 1286.06C192.011 1333.15 175.341 1401.7 175.341 1452.41C175.341 1470.04 168.928 1476.02 161.062 1490.96C139.383 1532.15 128.546 1575.64 110.73 1618.4C94.6128 1657.08 41.1684 1680.13 8.28171 1696.57');
    offset-distance: 10%;
    animation: move 30s linear infinite;
}

.la1 {
    animation: move 40s linear infinite;
}

.la2 {
    animation: move 55s linear infinite;
}

.la3 {
    animation: move 62s linear infinite;
}

.la4 {
    animation: move 70s linear infinite;
}

@keyframes move {
    100% {
        offset-distance: 100%;
    }
}